/* Global style */

html {
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}


/* Container style */

.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: seagreen;
    background-repeat: repeat;
}


/* Elements styles */


/* First photo */

.frame1 {
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    z-index: 2;
    filter: drop-shadow(0.39vw 0.78vw 0.23vw black);
}

.frame1 img {
    width: 30vw;
}

.image1 {
    position: absolute;
    top: 8vw;
    left: 5.5vw;
    z-index: 1;
}

.image1 img {
    width: 24vw;
}


/* Second photo */

.frame2 {
    position: absolute;
    top: 5vw;
    left: 35vw;
    z-index: 2;
    filter: drop-shadow(0.39vw 0.78vw 0.23vw black);
}

.frame2 img {
    width: 30vw;
}

.image2 {
    position: absolute;
    top: 8vw;
    left: 38vw;
    z-index: 1;
}

.image2 img {
    width: 24vw;
}


/* Third photo */

.frame3 {
    position: absolute;
    top: 5vw;
    right: 2.5vw;
    z-index: 2;
    filter: drop-shadow(0.39vw 0.78vw 0.23vw black);
}

.frame3 img {
    width: 30vw;
}

.image3 {
    position: absolute;
    top: 7.9vw;
    right: 6vw;
    z-index: 1;
}

.image3 img {
    width: 23vw;
}


/* Media querry  */


/* @media only screen and (max-width: 375px) {
    .frame {
        position: absolute;
        left: 15vw;
    }
    .frame img {
        width: 70vw;
    }
    .frame2 {
        top: 90vw;
        left: 15vw;
    }
    .frame2 img {
        width: 70vw;
    }
} */